@import 'material_icon';
*, *:before, *:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }

.btn {
	border: none;
	border-radius: 2px;
	display: inline-block;
	height: 36px;
	line-height: 36px;
	padding: 0 16px;
	text-transform: uppercase;
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent;
	box-shadow: 0 2px 2px 0 rgba(#000, 0.14), 0 3px 1px -2px rgba(#000, 0.12), 0 1px 5px 0 rgba(#000, 0.2);
	font-size: 14px;
	outline: 0;
	text-decoration: none;
	color: #fff;
	background-color: #26a69a;
	text-align: center;
	letter-spacing: .5px;
	-webkit-transition: background-color .2s ease-out;
	transition: background-color .2s ease-out;
	cursor: pointer;

	.btn__value {
		float: right;
	}

	&:hover {
		box-shadow: 0 3px 3px 0 rgba(#000, 0.14), 0 1px 7px 0 rgba(#000, 0.12), 0 3px 1px -1px rgba(#000, 0.2);
		background-color: #2bbbad;
	}

	&.iLeft {
		.btn__value {
			float: right;
		}

		.btn__icon {
			float: left;
			margin: 0 10px 0 0;
		}
	}

	&.iRight {
		.btn__value {
			float: left;
		}

		.btn__icon {
			float: right;
			margin: 0 0 0 10px;
		}
	}

	&.bRight {
		float: right;
	}

	&.bLeft {
		float: left;
	}

	&.bNone {
		float: none;
		margin: 0 auto;
	}

	&.closeModal {
		// background-color: #ef5350;
		background-color: transparent;
		box-shadow: none;
		color: #000;
		transition: all .2s ease-out;

		&:hover {
			// background-color: #e57373;
			background-color: transparent;
			box-shadow: none;
			color: #e57373;
		}
	}

	&.closeNotification {
		background-color: transparent;
		box-shadow: none;
		transition: all .2s ease-out;

		&:hover {
			background-color: transparent;
			box-shadow: none;
			opacity: .75;
		}
	}

	&.noShadow {
		box-shadow: none;

		&:hover {
			box-shadow: none;
		}
	}
}

.btn__icon {
	text-rendering: optimizeLegibility;
	-webkit-font-feature-settings: 'liga';
	-moz-font-feature-settings: 'liga';
	font-feature-settings: 'liga';
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	// font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
	font-size: 1.3rem;
	line-height: inherit;
	float: left;
	margin-right: 10px;
	max-width: 21px;
}

%btn_big {
  height: 54px;
	line-height: 54px;
	font-size: 16px;
	padding: 0 28px;

	.btn__icon {
		font-size: 28px;
		max-width: 28px;
	}
}

%btn_small {
  height: 28px;
	line-height: 28px;
	font-size: 12px;
	padding: 0 12px;

	.btn__icon {
		font-size: 20px;
	}
}

%btn_round {
	border-radius: 100%;
	width: 36px;
	padding: 0;

	.btn__icon {
		float: none;
		margin: 0;
	}
}

.btn_big {
	@extend %btn_big;
}

.btn_small {
	@extend %btn_small;
}

.btn_round {
	@extend %btn_round;
}

.btn_bigRound {
	@extend %btn_big;
	@extend %btn_round;
	width: 54px;
	padding: 0;
}

.btn_smallRound {
	@extend %btn_small;
	@extend %btn_round;
	width: 28px;
	padding: 0;
}

.btn_disabled {
	pointer-events: none;
	background-color: #DFDFDF !important;
	box-shadow: none;
	color: #9F9F9F !important;
	cursor: default;

	&:hover {
		background-color: #DFDFDF !important;
		color: #9F9F9F !important;
	}
}

