.test-button{
  font-size: 20px;
  color: gray;
  padding: 5px;
  margin: 20px;
}
.modals {
  position: fixed;
  bottom:0;
  left:0;
  right:0;
  height: 300px;
}
.modal-wrapper{
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  top: 0;
  background: rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  width: 200px;
  background: #fff;
  border-radius: 5px;
  min-width: 500px;
  position: relative;
}
.text {
  font-weight: bold;
  font-size: 20px;
  margin: 20px 0;
	text-align: center;
}
.buttons {
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
}
.modal-button {
  font-size: 15px;
  color: gray;
  padding: 5px;
  border-radius: 5px;
}
.close {
  position: absolute;
  top: 10px;
  right: 0px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 2em;
  cursor: pointer;
}
.modal-content {
  background:  rgba(193, 29, 29,0.5);
  color: #fff;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
